node_modules/
dist/

# Keep environment variables out of version control
.env
.env.*
!.env.example

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Uploads
uploads/

# Prisma
/src/generated/prisma

# OS files
.DS_Store
Thumbs.db
